{% extends "base.html" %}

{% block head %}
    <h1>Home</h1>
    <p>Home page content goes here.</p>
{% endblock %} 

{% block body %}
    <div class = "content">
        <h1>Task Master</h1>
        <p>Task Master is a simple task management app.</p>

        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
                <tr>
                    <td>{{ task.task }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>
                        <a href="">Delete</a>
                        <br>
                        <a href="">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
    </div>
{% endblock %}