{% extends "base.html" %} {% block title %}Home{% endblock %} 


{% block content %}
    <!-- add a search bar to search for objects. The route is /search-objects -->
    <div class="search-container">
        <form method="POST" action="/search-objects" class="needs-validation" autocomplete="off">
            <div class="form-group">
                <div class="search-bar">
                    <input type="text" placeholder="Search keywords" name="query" class="form-control" list="object_list">
                    <button type="submit" src=""><img src="{{ url_for('static', filename='search.png') }}" alt=""></button>
                </div>
                <div class="advanced-search">
                    
                        <datalist id="object_list">
                            {% for lost_object in lost_objects %}
                                <option value="{{ lost_object.description }}">
                            {% endfor %}
                            {% for found_object in found_objects %}
                                <option value="{{ found_object.description }}">
                            {% endfor %}
                        </datalist>
                    
                    
                        <select name="place" class="search-item">
                            <option value="">Location</option>
                            {%  for key, value in places.items() %}
                                <optgroup label="{{ key }}">
                                    {% for place in value %}
                                        <option value="{{ place }}">{{ place }}</option>
                                    {%  endfor %}
                                </optgroup>
                            {%  endfor %}
                        </select>
                    
                    
                        <select name="classifier" class="search-item">
                            <option value="">Classifier</option>
                            {%  for key, value in classifiers.items() %}
                                <optgroup label="{{ key }}">
                                    {% for class in value %}
                                        <option value="{{ class }}">{{ class }}</option>
                                    {%  endfor %}
                                </optgroup>
                            {%  endfor %}
                        </select>
                    
                    
                        <input type="date" name="lost_date" class="search-item">
                        <form method="GET" action="/home" class="needs-validation">
                            <button type="submit" class="search-item reset-btn">Reset</button>
                        </form>

                        
                </div>
            </div>
        </form>
    </div>
    
    

    <!-- show all the lost objects. This was passed in as `lost_objects`. -->
    <input type="checkbox" id="switch" aria-hidden="true">
    <div style="display: flex; justify-content: center;">
        <div class="toggle-label-container">
            <div id="toggle-active"></div>
            <label id="found-label" class="toggle-label" for="switch" aria-hidden="true">Found Items</label>
            <label id="lost-label" class="toggle-label" for="switch" aria-hidden="true">Lost Items</label>
        </div>
    </div>
    
    <div id="lostcards" class="card-container my-card-container">
    {% for lost_object in lost_objects %}
        {% if lost_object.loster == user %}
            <div class="my-card card">
                <div class="card-body">
                    <h5 class="card-title">User: {{ lost_object.loster }}</h5>
                    <div class="card-image">
                        <img src="../static/images/{{ lost_object.image }}" alt="{{ lost_object.description }}">
                    </div>  
                    <p class="card-text">Description: {{ lost_object.description }}</p>
                    <p class="card-text">Date: {{ lost_object.lost_date }}</p>
                    <!-- show the object's location on the left and the object's classifier on the right -->
                    <h6 class="card-subtitle mb-2 text-muted">Location/Classifier: {{ lost_object.place }} | {{ lost_object.classifier }}</h6>
                    <!-- show the object's omage with size of 200x200 and circle it and put it to the right of the card -->
                    
                </div>
            </div>
        {%  else %}
            <div class="my-card card">
                <div class="card-body">
                    <div style="display: flex; justify-content: space-between;">
                        <h5 class="card-title">User: {{ lost_object.loster }}</h5>
                        <a  style="margin-left: auto;" href="/message/{{ lost_object.loster }}" class="card-link">
                            <i class="fa fa-telegram" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="card-image">
                        <img src="../static/images/{{ lost_object.image }}" alt="{{ lost_object.description }}">
                    </div>  
                    <p class="card-text">Description: {{ lost_object.description }}</p>
                    <p class="card-text">Date: {{ lost_object.lost_date }}</p>
                    <!-- show the object's location on the left and the object's classifier on the right -->
                    <h6 class="card-subtitle mb-2 text-muted">Location/Classifier: {{ lost_object.place }} | {{ lost_object.classifier }}</h6>
                    <!-- show the object's omage with size of 200x200 and circle it and put it to the right of the card -->
                </div>
            </div>
        {%  endif %}
    {% endfor %}
    </div>

    <!-- show all the found objects. This was passed in as `found_objects`. -->
    <div class="card-container my-card-container" id="foundcards">
    {% for found_object in found_objects %}
        {% if found_object.founder == user %}
            <div class="my-card card">
                <div class="card-body">
                    
                    <h5 class="card-title">User: {{ found_object.founder }}</h5>
                    <div class="card-image">
                        <img src="../static/images/{{ found_object.image }}" alt="{{ found_object.description }}">
                    </div>  
                    <p class="card-text">Description: {{ found_object.description }}</p>
                    <p class="card-text">Date: {{ found_object.found_date }}</p>
                    <!-- show the object's location on the left and the object's classifier on the right -->
                    <h6 class="card-subtitle mb-2 text-muted">Location/Classifier: {{ found_object.place }} | {{ found_object.classifier }}</h6>
                    <!-- show the object's omage with size of 200x200 and circle it and put it to the right of the card -->
                
                </div>
            </div>
        {%  else %} 
            <div class="card my-card">
                <div class="card-body">
                    <div style="display: flex; justify-content: space-between;">
                        <h5 class="card-title">User: {{ found_object.founder }}</h5>
                        <a style="margin-left: auto;" href="/message/{{ found_object.founder }}" class="card-link">
                            <i class="fa fa-telegram" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="card-image">
                        <img src="../static/images/{{ found_object.image }}" alt="{{ found_object.description }}">
                    </div>  
                    <p class="card-text">Description: {{ found_object.description }}</p>
                    <p class="card-text">Date: {{ found_object.found_date }}</p>
                    <!-- show the object's location on the left and the object's classifier on the right -->
                    <h6 class="card-subtitle mb-2 text-muted">Location/Classifier: {{ found_object.place }} | {{ found_object.classifier }}</h6>
                    <!-- show the object's omage with size of 200x200 and circle it and put it to the right of the card -->
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>


    <script>
        const switchEl = document.getElementById('switch');
        const lostCardsEl = document.getElementById('lostcards');
        const foundCardsEl = document.getElementById('foundcards');
        const foundLabelEl = document.getElementById('found-label');
        const lostLabelEl = document.getElementById('lost-label');
        const toggleActiveEl = document.getElementById('toggle-active');

        foundCardsEl.style.display = 'flex';
        lostCardsEl.style.display = 'none';
        foundLabelEl.classList.add('active-label');
    

    
        switchEl.addEventListener('change', function() {

          if (foundCardsEl.style.display == 'flex') {

            foundCardsEl.style.display = 'none';
            lostCardsEl.style.display = 'flex';
            
            toggleActiveEl.style.transform = 'translateX(100%)';
            foundLabelEl.classList.remove('active-label');
            lostLabelEl.classList.add('active-label');
          } else {

            lostCardsEl.style.display = 'none';
            foundCardsEl.style.display = 'flex';

            toggleActiveEl.style.transform = 'translateX(0%)';
            lostLabelEl.classList.remove('active-label');
            foundLabelEl.classList.add('active-label');
          }
        });
    
      </script>
{% endblock %}
