{% extends "base.html" %} {% block title %}Home{% endblock %} 


{% block content %}
    <!-- add a search bar to search for objects. The route is /search-objects -->
    <h1 style="color: white;">Search</h1>
    <form method="POST" action="/search-objects" class="needs-validation" autocomplete="off">
        <div class="form-group">
            <label for="search" style="color: white;">Description:</label>
            <input type="text" name="query" class="form-control" list="object_list">
            <datalist id="object_list">
                {% for lost_object in lost_objects %}
                    <option value="{{ lost_object.description }}">
                {% endfor %}
                {% for found_object in found_objects %}
                    <option value="{{ found_object.description }}">
                {% endfor %}
            </datalist>
            <label for="search" style="color: white;">Location:</label>
            <select name="place" class="form-control">
                <option value="">Select a location</option>
                <optgroup label="Residential College">
                    <option value="Benjamin Franklin">Benjamin Franklin</option>
                    <option value="Pauli Murrary">Pauli Murrary</option>
                    <option value="Timothy Dwight">Timothy Dwight</option>
                    <option value="Jonathan Edwards">Jonathan Edwards</option>
                    <option value="Ezra Stiles">Ezra Stiles</option>
                    <option value="Morse">Morse</option>
                    <option value="Berkeley">Berkeley</option>
                    <option value="Saybrook">Saybrook</option>
                    <option value="Pierson">Pierson</option>
                    <option value="Davenport">Davenport</option>
                    <option value="Trumbull">Trumbull</option>
                    <option value="Silliman">Silliman</option>
                    <option value="Grace Hopper">Grace Hopper</option>
                    <option value="Branford">Branford</option>
                </optgroup>
                <optgroup label="Schwarzman Center">
                    <option value="The Elm">The Elm</option>
                    <option value="Commons">Commons</option>
                    <option value="The Well">The Well</option>
                </optgroup>
                <optgroup label="South">
                    <option value="MIA">Miami</option>
                </optgroup>
            </select>
            <label for="search" style="color: white;">Classifier:</label>
            <select name="classifier" class="form-control">
                <option value="">Select a classifier</option>
                <optgroup label="Electronic">
                    <option value="Laptop">Laptop</option>
                    <option value="Phone">Phone</option>
                    <option value="Tablet">Tablet</option>
                    <option value="Headphone">Headphone</option>
                    <option value="Charger">Charger</option>
                </optgroup>
                <optgroup label="Clothing">
                    <option value="Shirt">Shirt</option>
                    <option value="Pants">Pants</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Hat">Hat</option>
                </optgroup>
                <optgroup label="Miscellaneous">
                    <option value="Wallet">Wallet</option>
                    <option value="Keys">Keys</option>
                </optgroup>
            </select>
            <label for="search" style="color: white;">Date:</label>
            <input type="date" name="lost_date" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br>
    <form method="GET" action="/home" class="needs-validation">
        <button type="submit" class="btn btn-primary">Reset</button>
    </form>

    <!-- show all the lost objects. This was passed in as `lost_objects`. -->
    <br>
    <h1 style="color: white;">All Lost Objects</h1>
    {% for lost_object in lost_objects %}
        {% if lost_object.loster == user %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User: {{ lost_object.loster }}</h5>
                    <p class="card-text">Description: {{ lost_object.description }}</p>
                    <p class="card-text">Date: {{ lost_object.lost_date }}</p>
                    <!-- show the object's location on the left and the object's classifier on the right -->
                    <h6 class="card-subtitle mb-2 text-muted">Location/Classifier: {{ lost_object.place }} | {{ lost_object.classifier }}</h6>
                    <!-- show the object's omage with size of 200x200 and circle it and put it to the right of the card -->
                    <img src="../static/images/{{ lost_object.image }}" alt="{{ lost_object.description }}" style="width:200px;height:200px;border-radius:50%;">
                </div>
            </div>
        {%  else %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User: {{ lost_object.loster }}</h5>
                    <p class="card-text">Description: {{ lost_object.description }}</p>
                    <p class="card-text">Date: {{ lost_object.lost_date }}</p>
                    <!-- show the object's location on the left and the object's classifier on the right -->
                    <h6 class="card-subtitle mb-2 text-muted">Location/Classifier: {{ lost_object.place }} | {{ lost_object.classifier }}</h6>
                    <!-- show the object's omage with size of 200x200 and circle it and put it to the right of the card -->
                    <img src="../static/images/{{ lost_object.image }}" alt="{{ lost_object.description }}" style="width:200px;height:200px;border-radius:50%;">
                    <h5>
                        <a href="/message/{{ lost_object.loster }}" class="card-link">
                            <i class="fa fa-telegram" aria-hidden="true"></i>
                        </a>
                    </h5>

                </div>
            </div>
        {%  endif %}
    {% endfor %}

    <!-- show all the found objects. This was passed in as `found_objects`. -->
    <br>
    <h1 style="color: white;">All Found Objects</h1>
    {% for found_object in found_objects %}
        {% if found_object.founder == user %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User: {{ found_object.founder }}</h5>
                    <p class="card-text">Description: {{ found_object.description }}</p>
                    <p class="card-text">Date: {{ found_object.found_date }}</p>
                    <!-- show the object's location on the left and the object's classifier on the right -->
                    <h6 class="card-subtitle mb-2 text-muted">Location/Classifier: {{ found_object.place }} | {{ found_object.classifier }}</h6>
                    <!-- show the object's omage with size of 200x200 and circle it and put it to the right of the card -->
                    <img src="../static/images/{{ found_object.image }}" alt="{{ found_object.description }}" style="width:200px;height:200px;border-radius:50%;">
                </div>
            </div>
        {%  else %} 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User: {{ found_object.founder }}</h5>
                    <p class="card-text">Description: {{ found_object.description }}</p>
                    <p class="card-text">Date: {{ found_object.found_date }}</p>
                    <!-- show the object's location on the left and the object's classifier on the right -->
                    <h6 class="card-subtitle mb-2 text-muted">Location/Classifier: {{ found_object.place }} | {{ found_object.classifier }}</h6>
                    <!-- show the object's omage with size of 200x200 and circle it and put it to the right of the card -->
                    <img src="../static/images/{{ found_object.image }}" alt="{{ found_object.description }}" style="width:200px;height:200px;border-radius:50%;">
                    <h5>
                        <a href="/message/{{ found_object.founder }}" class="card-link">
                            <i class="fa fa-telegram" aria-hidden="true"></i>
                        </a>
                    </h5>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}
