{% extends "base.html" %} {% block title %}Post a Lost Item{% endblock %} 


{% block content %}

    <!-- show all the lost objects. This was passed in as `lost_objects` -->
    {% for lost_object in lost_objects %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ lost_object.loster }}</h5>
                <h6 class="card-subtitle">{{ lost_object.place }}</h6>
                <p class="card-text">{{ lost_object.description }}</p>
            </div>
        </div>
    {% endfor %}


{% endblock %}
