{% extends "base.html" %} {% block title %}Send Message{% endblock %} 
{% block content %}

    <!-- Add a title saying "Post a Found Item" -->
    <h1 align="center">Send Message to {{ user }}</h1>
    <div class="container">
      <form method="POST" action="/message/{{user}}" class="needs-validation">
          <div class="form-group">
            <h1>Subject</h1>
            <input type="text" id="subject" name="subject" class="form-control" required/>

            <h1>Description</h1>
            <textarea id="message" name="message" class="form-control" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
      </form>
  </div>
{% endblock %}
