{% extends "base.html" %} {% block title %}Update Lost Item{% endblock %} 


{% block content %}

    <!-- Add a title saying "Post a Lost Item" -->
    <h1 align="center">Update Lost Item</h1>


    <div class="container">
        <form method="POST" action="/update_lost_object/{{lost_object.id}}" class="needs-validation">
            <div class="form-group">
                <label for="classifier">Classifier:</label>
                <select name="classifier" class="form-control" required>
                    <option value="{{ lost_object.classifier }}" selected>{{ lost_object.classifier }}</option>
                    <optgroup label="Electronic">
                        <option value="Laptop">Laptop</option>
                        <option value="Phone">Phone</option>
                        <option value="Tablet">Tablet</option>
                        <option value="Headphone">Headphone</option>
                        <option value="Charger">Charger</option>
                    </optgroup>
                    <optgroup label="Clothing">
                        <option value="Shirt">Shirt</option>
                        <option value="Pants">Pants</option>
                        <option value="Shoes">Shoes</option>
                        <option value="Hat">Hat</option>
                    </optgroup>
                    <optgroup label="Miscellaneous">
                        <option value="Wallet">Wallet</option>
                        <option value="Keys">Keys</option>
                    </optgroup>
                </select>
                <div class="invalid-feedback">
                    Please select a classifier.
                </div>
            </div>

            <div class="form-group">
                <label for="lost_date">Date:</label>
                <input type="date" name="lost_date" class="form-control" value="{{date}}" required>
                <div class="invalid-feedback">
                    Please provide a valid date.
                </div>
            </div>

            <div class="form-group">
                <label for="place">Place:</label>
                <select name="place" class="form-control" required>
                    <option value="{{ lost_object.place }}" selected>{{ lost_object.place }}</option>
                    <optgroup label="Residential College">
                        <option value="Benjamin Franklin">Benjamin Franklin</option>
                        <option value="Pauli Murrary">Pauli Murrary</option>
                        <option value="Timothy Dwight">Timothy Dwight</option>
                        <option value="Jonathan Edwards">Jonathan Edwards</option>
                        <option value="Ezra Stiles">Ezra Stiles</option>
                        <option value="Morse">Morse</option>
                        <option value="Berkeley">Berkeley</option>
                        <option value="Saybrook">Saybrook</option>
                        <option value="Pierson">Pierson</option>
                        <option value="Davenport">Davenport</option>
                        <option value="Trumbull">Trumbull</option>
                        <option value="Silliman">Silliman</option>
                        <option value="Grace Hopper">Grace Hopper</option>
                        <option value="Branford">Branford</option>
                    </optgroup>
                    <optgroup label="Schwarzman Center">
                        <option value="The Elm">The Elm</option>
                        <option value="Commons">Commons</option>
                        <option value="The Well">The Well</option>
                    </optgroup>
                    <optgroup label="South">
                        <option value="MIA">Miami</option>
                    </optgroup>
                </select>
                <div class="invalid-feedback">
                    Please select a place.
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" class="form-control" required>{{lost_object.description}}</textarea>
                <div class="invalid-feedback">
                    Please provide a description of the lost item.
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock %}
