{% extends "base.html" %} {% block title %}Update Found Item{% endblock %} 


{% block content %}

    <!-- Add a title saying "Post a Found Item" -->
    <h1 align="center">Update Found Item</h1>


    <div class="container">
        <form method="POST" action="/update_found_object/{{found_object.id}}" class="needs-validation" enctype="multipart/form-data">
            <div class="form-group">
                <label for="classifier">Classifier:</label>
                <select name="classifier" class="form-control" required>
                    <option value="{{ found_object.classifier }}" selected>{{ found_object.classifier }}</option>
                    {%  for key, value in classifiers.items() %}
                        <optgroup label="{{ key }}">
                            {% for class in value %}
                                <option value="{{ class }}">{{ class }}</option>
                            {%  endfor %}
                        </optgroup>
                    {%  endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select a classifier.
                </div>
            </div>

            <div class="form-group">
                <label for="found_date">Date:</label>
                <input type="date" name="found_date" class="form-control" value="{{date}}" required>
                <div class="invalid-feedback">
                    Please provide a valid date.
                </div>
            </div>

            <div class="form-group">
                <label for="place">Place:</label>
                <select name="place" class="form-control" required>
                    <option value="{{ found_object.place }}" selected>{{ found_object.place }}</option>
                    {%  for key, value in places.items() %}
                        <optgroup label="{{ key }}">
                            {% for place in value %}
                                <option value="{{ place }}">{{ place }}</option>
                            {%  endfor %}
                        </optgroup>
                    {%  endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select a place.
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" class="form-control" required>{{found_object.description}}</textarea>
                <div class="invalid-feedback">
                    Please provide a description of the found item.
                </div>
            </div>

            <div class="form-group">
                <label for="file">Image:</label>
                <input type="file"  class="form-control-file" name="file" accept="image/png, image/jpeg, image/jpg" required/>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock %}
