{% extends "base.html" %} {% block title %}Home{% endblock %} 


{% block userinfo %}
    <!-- Display your lost objects. This was passed in as `user_lost_objects`. There should also be a little x that deletes the object. remember the route is /delete-lost-object/<id> -->
    <br>
    <div class="user-container">
        <div class="user-card">
            <div class="user-profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
                  <h4 style="margin-top: 20px; margin-bottom: 30px;">{{username}}</h4>
            </div>
            <div class="user-lbl-container">
                
                <button id="lostbtn" class="user-label active-user-btn">Your Lost Items</button>
                <button id="foundbtn" class="user-label">Your Found Items</button>
                <button id="msgbtn" class="user-label">Your Messages</button>
            </div>
        </div>
        <div class="user-body">
            <div id="lost-body">
                <h3 >Displaying {{num_lost}} lost objects</h3>
                {% for user_object in user_lost_objects %}
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; justify-content: space-between;">
                            <h5 class="card-title">User: {{ user_object.loster }}</h5>
                            <a style="margin-left: auto;" href="/delete-lost-object/{{ user_object.id }}" class="card-link">
                                <i class="fa fa-trash-o card-icon" aria-hidden="true"></i>
                            </a>
                            <a href="/update_lost_object/{{ user_object.id }}" class="card-link">
                                <i class="fa fa-pencil-square-o card-icon" aria-hidden="true"></i>
                            </a>
                        </div>
                        
                        <div class="card-image">
                            <img src="../static/images/{{ user_object.image }}" alt="{{ user_object.description }}">
                        </div> 
                        <p class="card-text">Description: {{ user_object.description }}</p>
                        <p class="card-text">Date: {{ user_object.lost_date }}</p>
                        <!-- show the object's location on the left and the object's classifier on the right -->
                        <h6 class="card-subtitle mb-2 text-muted">Location/Classifier: {{ user_object.place }} | {{ user_object.classifier }}</h6>
                        
                    </div>
                </div>
            {% endfor %}
            </div>
    

    <!-- Display your found objects. This was passed in as `user_found_objects`. There should also be a little x that deletes the object. remember the route is /delete-found-object/<id> -->
            <div id="found-body" class="hidden-user-body">
                <h3 >Displaying {{num_found}} found objects</h3>
                {% for user_object in user_found_objects %}
                    <div class="card">
                        <div class="card-body">
                            <div style="display: flex; justify-content: space-between;">
                                <h5 class="card-title">User: {{ user_object.founder }}</h5>
                                <a style="margin-left: auto;" href="/delete-found-object/{{ user_object.id }}" class="card-link">
                                    <i class="fa fa-trash-o card-icon" aria-hidden="true"></i>
                                </a>
                                <a href="/update_found_object/{{ user_object.id }}" class="card-link">
                                    <i class="fa fa-pencil-square-o card-icon" aria-hidden="true"></i>
                                </a>
                            </div>
                            
                            <div class="card-image">
                                <img src="../static/images/{{ user_object.image }}" alt="{{ user_object.description }}">
                            </div> 
                            <p class="card-text">Description: {{ user_object.description }}</p>
                            <p class="card-text">Date: {{ user_object.found_date }}</p>
                            <!-- show the object's location on the left and the object's classifier on the right -->
                            <h6 class="card-subtitle mb-2 text-muted">Location/Classifier: {{ user_object.place }} | {{ user_object.classifier }}</h6>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="msg-body" class="hidden-user-body">
                <h3 >Displaying {{num_messages}} messages</h3>
                {% for message in messages %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-title"><strong>{{ message.sender }}</strong>: {{ message.content }}</p>
                        <!-- show the object's location on the left and the object's classifier on the right -->
                        <h5>
                            <a href="/delete-message/{{ message.id }}" class="card-link">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                            <a href="/message/{{ message.sender }}" class="card-link">
                                <i class="fa fa-telegram" aria-hidden="true"></i>
                            </a>
                            
                        </h5>
                    </div>
                </div>
    <br>
    {% endfor %}
            </div>

        </div>
    </div>


    <script>
        let msgbtn = document.getElementById("msgbtn");
        let lostbtn = document.getElementById("lostbtn");
        let foundbtn = document.getElementById("foundbtn");
        let msgbody = document.getElementById("msg-body");
        let lostbody = document.getElementById("lost-body");
        let foundbody = document.getElementById("found-body");


        function activateButton(button, bodyitem) {
            msgbtn.classList.remove("active-user-btn");
            lostbtn.classList.remove("active-user-btn");
            foundbtn.classList.remove("active-user-btn");
            button.classList.add("active-user-btn");

            msgbody.classList.add("hidden-user-body");
            lostbody.classList.add("hidden-user-body");
            foundbody.classList.add("hidden-user-body");

            bodyitem.classList.remove("hidden-user-body");

    }

        msgbtn.addEventListener("click", function() {
            activateButton(this, msgbody);
        });

        lostbtn.addEventListener("click", function() {
            activateButton(this, lostbody);
        });

        foundbtn.addEventListener("click", function() {
            activateButton(this, foundbody);
        });
    </script>
    
{% endblock %}
