{% extends "base.html" %} {% block title %}Home{% endblock %} 


{% block content %}
    <!-- Display messages -->
    <h1 style="color: white;">Your Messages</h1>
    {% for message in messages %}
        <div class="card">
            <div class="card-body">
                <p class="card-title"><strong>{{ message.sender }}</strong>: {{ message.content }}</p>
                <!-- show the object's location on the left and the object's classifier on the right -->
                <h5>
                    <a href="/delete-message/{{ message.id }}" class="card-link">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <a href="/message/{{ message.sender }}" class="card-link">
                        <i class="fa fa-telegram" aria-hidden="true"></i>
                    </a>
                    
                </h5>
            </div>
        </div>
    <br>
    {% endfor %}

{% endblock %}
